{% extends "base.html" %}
{% block content %}
<head>
    <script type="text/javascript" src="../static/scripts/dashboard-data.js"></script>
</head>
<section class="form-section" id="dashboard-form">
    <form id="label-form">
        <ul>
            <li><input id="name" type="text" name="name" placeholder="Nazwa etykiety" required/></li>
            <li><input id="receiver" type="text" name="receiver" placeholder="Adresat" required/></li>
            <li><input id="size" type="text" name="size" placeholder="Rozmiar paczki" required/></li>
            <li><input id="target" type="text" name="target" placeholder="Docelowa skrytka" required/></li>
        </ul>
    </form>
    <ul>
        <li><button id="add-button">Dodaj</button></li>
    </ul>
</section>

<section id="dashboard-table">
    <h3>Twoje etykiety</h3>
    <table id="label-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Adresat</th>
                <th>Rozmiar paczki</th>
                <th>Docelowa skrytka</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="table-content">

        </tbody>
    </table>
</section>

{% endblock %}