<html>
    <head>
        <link rel="stylesheet" href="../static/styles/main.css"></link>
    </head>
    <body>
        <nav class="topnav">
            <a href="/">Start</a>
            <a href="/sender/sign-up">Rejestracja</a>
        </nav>
        <header>
            <h1>System obsługi paczek</h1>
            <h2>Michał Kaniewski</h2>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <a href="https://github.com/michalkaniewski/WebMobileAppsPW/tree/master">Repozytorium</a>
            <span id="year">2020</span>
        </footer>
    </body>
</html>