table {
    width:100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    text-align: left;
}

form ul {
    list-style-type: none;
    padding-inline-end: 40px;
}
form ul li {
    margin-top: 10px;
}

ul.flashes {
    list-style-type: none;
    width: 50%;
    margin-left: 25%;
    padding-left: 0;
}
ul.flashes li {
    background-color: orange;
    width: 100%;
    text-align: center;
}

input {
    width: 100%;
    border-radius: 2px;
}

input.incorrect {
    border-color: red;
}

select {
    width: 100%;
    border-radius: 2px;
}
input#submit {
    color: white;
    background-color: green;
    font-size: larger;
}
section.form-section h3 {
    text-align: center;
}
section.form-section {
    margin-top: 10%;
    width: 50%;
    margin-left: 25%;
    background-color: lightblue;
    padding-top: 5px;
    padding-bottom: 10px;
}

section#dashboard-table {
    padding-left: 10%;
    padding-right: 10%;
}
section#dashboard-table h3 {
    text-align: center;
}

button.delete-button {
    background-color: red;
    color: white;
    font-size: initial;
    width: 100%;
}

section#dashboard-form {
    margin-top: 10px;
}

section#dashboard-form ul {
    list-style-type: none;
    padding-inline-end: 40px;
}

section#dashboard-form button {
    color: white;
    background-color: green;
    font-size: larger;
    width: 100%;
}

section.form-section form {
    width: 100%;
}

body {
    margin: 0 0 0 0;
}
header {
    background-color: lightsalmon;
}
header h1 {
    text-align: center;
    margin: 0 0 0 0;
}
header h2 {
    text-align: center;
    margin: 0 0 0 0;
}
nav.topnav {
    overflow: hidden;
    background-color: #333;
}

nav.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav.topnav a:hover {
    background-color: #ddd;
    color: black;
}

body {
    background-color: lightyellow;
}

footer {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    float: right;
    text-align: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

footer a:hover {
    background-color: #ddd;
    color: black;
}

footer span {
    color: #f2f2f2;
    float: left;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
}

section.home-page h2 {
    text-align: center;
}

section.home-page img {
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
}